<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Bookstore</title>
    <style>
        body {
            margin: 30px 20px 30px 20px;
        }
        h1 {
            font-family: monospace;
        }
        a {
            font-family: monospace;
            font-size: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Online Bookstore!</h1>

    <!--<a href="trans.html"><button>Go to Book Transactions</button></a> -->

    <a href="reg.html"><button>Register</button></a> <br> <br>
    <a href="login.html"><button>Login</button></a> <br>
</body>
</html>